
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Bootstrap
@import 'variables';

// .navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

@import 'node_modules/bulma/bulma.sass';

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1;

body {
  font-family: $font-family-sans-serif;
}

@import 'custom';

